/** @format */

@font-face {
	font-family: "graphik-medium";
	src: url(./fonts/Graphik-Family/Graphik-Medium-Trial.otf);
}

@font-face {
	font-family: "graphik-regular";
	src: url(./fonts/Graphik-Family/Graphik-Regular-Trial.otf);
}

body {
	background-color: #202654;
	color: white;
	margin: 0;
}

.root-container {
	font-family: "graphik-medium";
}

/* header section */

/* navbar section */
.site-header {
	padding: 6% 4%;
	padding-bottom: 0;
}

.site-navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.2rem;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1% 4%;
	box-sizing: border-box;
	background-color: #202654;
	z-index: 100;
}

.site-logo {
	width: 102.93px;
}

.nav-links-list {
	display: flex;
	justify-content: space-between;
	padding: 0;
	list-style: none;
	gap: 1.2rem;
}

.nav-list-item {
	font-size: 12.8px;
}

.nav-arrow-list-item {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.nav-link {
	text-decoration: none;
	color: white;
}

.app-download-link {
	outline: 1px solid rgba(193, 196, 229, 0.5);
	padding: 12px 19.5px;
	border-radius: 0.8rem;
	transition: all 0.25s ease-in-out;
}

.app-download-link:hover {
	background-color: #806ce8;
}

/* hero section */
.hero-horizontal-sections-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: 3.3rem;
	margin-bottom: 8rem;
}

.hero-horizontal-sections-container > * {
	flex: 1;
}

.hero-description-container {
	color: #d4d6eb;
	margin-bottom: 2.5rem;
}

.hero-description-container p {
	font-family: "graphik-regular";
	font-size: 13.93px;
	line-height: 22.28px;
}

.hero-app-download-container {
	display: flex;
	align-items: center;
	gap: 2.5rem;
}

.qr-code-img {
	width: 148.6px;
	border-radius: 50%;
}

.hero-app-download-right-section {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.hero-app-download-right-section > span {
	font-family: "graphik-regular";
	font-size: 13.93px;
}

.platforms-app-download-links-container {
	display: flex;
	justify-content: space-between;
	gap: 0.5rem;
}

.platforms-app-download-links-container a {
	color: #d4d6eb;
	text-decoration: none;
}

.platforms-app-download-links-container a span {
	font-size: 12.38px;
}

.right-hero-section img {
	width: 100%;
}

.benchmarks-container {
	display: flex;
	justify-content: space-between;
	gap: 3rem;
	align-items: center;
	margin-bottom: 6rem;
}

.benchmarks-description-container,
.figure-title {
	color: #d4d6eb;
}

.benchmarks-description-container {
	font-size: 12.38px;
}

.benchmarks-description-container::before {
	background-color: white;
}

.above-stroke {
	position: relative;
	padding-top: 1rem;
}

.above-stroke::before {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	content: "";
	width: 28px;
	height: 5px;
	border-radius: 20px;
}

.benchmark-figures-list {
	padding: 0;
	list-style: none;
	display: flex;
	gap: 2.5rem;
}

.benchmark-figures-list-item {
	display: flex;
	flex-direction: column;
	font-family: "graphik-regular";
	align-items: center;
}

.figure {
	font-size: 24.77px;
}

.figure-title {
	font-size: 10.83px;
}

.africa-hero-section {
	text-align: center;
	position: relative;
	height: 514.5px;
}

.africa-hero-section h1 {
	margin-bottom: 3rem;
}

.africa-hero-section .link-with-line {
	color: rgb(172, 252, 227);
}

.link-with-line {
	font-size: 13.93px;
	text-decoration: none;
	position: relative;
	padding-left: 3%;
	z-index: 10;
}

.africa-hero-section .link-with-line::before {
	background-color: rgb(172, 252, 227);
}

.link-with-line::before {
	content: "";
	display: block;
	width: 18.57px;
	height: 3.1px;
	border-radius: 20px;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.africa-hero-img {
	width: 100%;
	position: relative;
	top: -1.2rem;
}

/* site main section */

.site-main-section {
	position: relative;
}

/* countries card */

.card-container {
	display: flex;
	justify-content: space-between;
}

.countries-card-container {
	background-color: #f2f2fb;
	padding: 18.57px 51.2px 43.34px 51.2px;
	align-items: center;
	gap: 1.2rem;
}

.countries-card-container .card-description-container {
	color: rgb(27, 10, 45);
}

.countries-card-container .card-description-container h2 {
	font-size: 32.5px;
	margin-bottom: 0;
}

.countries-card-container .card-description-container p {
	font-size: 13.93px;
	font-family: "graphik-regular";
	margin-top: 0;
}

.countries-card-container .card-description-container .link-with-line {
	padding-left: 6%;
}

.countries-card-container .card-description-container .link-with-line::before {
	background-color: rgb(0, 0, 238);
}

.countries-card-container .card-description-container .h-group {
	margin-bottom: 4rem;
}

.card-img-container img {
	width: 100%;
}

.online-global-card-container {
	background-color: #6943d9;
	padding-left: 6%;
	position: relative;
	/* height: 379.067px; */
	align-items: center;
}

.online-global-card-container > * {
	flex: 1;
}

.online-global-card-container .card-description-container {
	max-width: 50%;
}

.online-global-card-container h2 {
	font-size: 49.53px;
	color: rgb(172, 253, 228);
	margin-bottom: 0;
}

.online-global-card-container p {
	font-family: "graphik-regular";
	font-size: 24.77px;
	margin-top: 0;
}

.online-global-card-container .card-img-container {
	line-height: 0;
	overflow: hidden;
	/* width: 619.13px; */
	/* position: absolute;
	right: -4rem; */
}

.online-global-card-container .card-img-container img {
	width: 132%;
	transform: translateX(-12%);
}

/* community section */
.community-section-container {
	background-color: white;
	padding: 6rem 10rem 4rem 3rem;
}

.community-intro-container {
	margin-bottom: 4rem;
}

.community-intro-description-container {
	text-align: center;
	margin-bottom: 2.3rem;
}

.community-intro-description-container h2 {
	color: #1b0a2d;
	font-size: 26.31px;
	margin-top: 0;
}

.community-intro-description-container p {
	color: rgba(27, 10, 45, 0.7);
	font-family: "graphik-regular";
	font-size: 13.93px;
	line-height: 1.6;
}

.community-banner-img-container {
	margin: auto;
	width: 60%;
	line-height: 0;
	position: relative;
	height: 371.483px;
	cursor: pointer;
}

.community-banner-img-container,
.cover-banner-img {
	border-radius: 0.8rem;
}

.cover-banner-img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	object-position: center;
}

.play-icon {
	width: 74.3px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.25s ease-in-out;
}

.community-banner-img-container:hover .play-icon {
	transform: scale(1.1) translate(-50%, -50%);
	transform-origin: center;
}

.community-ratings-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 14rem;
}

.community-ratings-container > * {
	flex: 1;
}

.community-ratings-summary-container {
	color: rgba(44, 22, 68, 0.9);
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}

.community-ratings-summary-container p {
	font-size: 13.93px;
}

.ratings-figures-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.community-ratings-summary-container p::before {
	background-color: rgba(44, 22, 68, 0.9);
}

.platform-ratings-container p strong {
	font-size: 49.53px;
}

.platform-ratings-container a {
	font-size: 12.38px;
	text-decoration: none;
	color: rgba(44, 22, 68, 0.9);
}

.community-ratings-cards-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
}

.platform-ratings-card {
	font-family: "graphik-regular";
	border: 1px solid #c1c4e5;
	border-radius: 0.8rem;
	padding: 12.38px;
	box-shadow: 0 8px 2px rgba(56, 77, 105, 0.1);
}

.ios-ratings-card {
	width: 258.03px;
}

.android-ratings-card {
	width: 233.27px;
}

.card-top-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.country-flag-icon {
	width: 37.15px;
}

.ratings-comment {
	color: rgb(9, 11, 14);
	font-size: 12.38px;
	line-height: 1.6;
}

.ratings-card-type-details {
	color: rgb(73, 98, 131);
	font-size: 9.29px;
	margin-bottom: 0;
}

/* say hello card section */
.say-hello-card-container {
	background-color: black;
	background-image: url(./images/say-hello-banner.png);
	background-position: 100px;
	background-repeat: no-repeat;
	background-size: 1390px;
	padding: 4rem 60% 3rem 5%;
	text-align: center;
}

.say-hello-card-container h2 {
	font-size: 32.5px;
	margin-top: 0;
	margin-bottom: 0;
}

.say-hello-card-container p {
	font-size: 13.93px;
	font-family: "graphik-regular";
	line-height: 1.5;
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.social-media-links-list {
	list-style: none;
	padding: 0;
	display: flex;
	align-items: center;
	gap: 24.77px;
}

.social-media-link {
	display: block;
	line-height: 0;
	width: 30.95px;
}

.social-media-link img {
	width: 100%;
	opacity: 0.8;
	filter: grayscale(100%);
	transition: all 0.25s ease-in-out;
}

.social-media-link img:hover {
	opacity: 1;
	filter: grayscale(0%);
}

/* featured-in section */
.content-box {
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 49.53px;
	padding: 3rem 5%;
}

.content-box > * {
	flex: 1;
}

.content-box h2 {
	font-size: 32.5px;
	color: #1b0a2d;
	margin-top: 0;
	margin-bottom: 0;
}

.content-box p {
	font-family: "graphik-regular";
	font-size: 13.93px;
	line-height: 1.6;
	margin-top: 1.2rem;
	margin-bottom: 1.2rem;
}

.content-box p a {
	color: rgba(44, 22, 68, 0.9);
}

.content-box .link-with-line {
	color: rgb(105, 69, 216);
	padding-left: 7%;
}

.content-box .link-with-line::before {
	background-color: rgb(105, 69, 216);
}

.content-box a {
	text-decoration: none;
}

.featured-in-logos-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2.5rem;
}

.logos-list-item {
	padding: 18.57px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

.logos-list-item img {
	opacity: 0.32;
	filter: grayscale(100%);
	max-height: 27.86px;
	transition: all 0.25s ease-in-out;
}

.logos-list-item img:hover {
	opacity: 1;
	filter: grayscale(0%);
}

/* invest-in section */

.invest-in-description-container p {
	color: rgba(44, 22, 68, 0.9);
}

.invest-in-banner-img-container {
	line-height: 0;
	flex-basis: 15%;
}

.invest-in-banner-img-container img {
	width: 100%;
}

/* Africa football section */
.africa-football-section {
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3rem 5%;
	gap: 10rem;
	height: 70vw;
}

.africa-football-section > * {
	flex: 1;
}

.africa-football-snaps-list {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1.5rem;
}

.football-snaps-list-item {
	flex: 1;
	aspect-ratio: 1/1;
	display: flex;
	border-radius: 50%;
}

.football-snaps-list-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
}

.africa-football-description-container h2 {
	color: #1b0a2d;
	font-size: 24.38px;
}

.africa-football-description-container .link-with-line {
	color: rgb(105, 69, 216);
	padding-left: 7%;
}

.africa-football-description-container .link-with-line::before {
	background-color: rgb(105, 69, 216);
}

/* download hover card */
.download-hover-card {
	background-color: white;
	width: 90%;
	margin: auto;
	border: 1px solid #c1c4e5;
	border-radius: 1rem;
	position: absolute;
	left: 50%;
	bottom: -6rem;
	transform: translateX(-50%);
	padding: 89px 49.53px 59.59px;
	box-sizing: border-box;
	text-align: center;
	overflow: hidden;
}

.download-hover-card h2 {
	margin-top: 0;
	line-height: 1.3;
	font-size: 32.5px;
	color: rgb(9, 11, 14);
}

.hover-card-download-links-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	gap: 1rem;
}

.hover-card-download-link {
	display: flex;
	justify-content: space-between;
	color: white;
	background-color: rgb(32, 38, 84);
	text-decoration: none;
	padding: 14.86px 18.57px 14.86px 14.86px;
	width: 10rem;
	box-sizing: border-box;
	border-radius: 0.8rem;
	transition: all 0.25s ease-in-out;
}

.hover-card-download-link:hover {
	background-color: #474eaa;
}

.hover-card-download-link > * {
	flex: 1;
}

.hover-card-download-link div {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 1.8rem;
}

.hover-card-download-link p {
	margin: 0;
	flex-basis: 25%;
	font-size: 9.29px;
	display: flex;
	flex-direction: column;
}

.hover-card-download-link p > * {
	display: inline-block;
	width: 100%;
	text-align: start;
}

.hover-card-download-link strong {
	font-size: 13.93px;
}

.decoration-shapes-container > * {
	position: absolute;
	z-index: -1;
}

.mint-circle-large {
	background-color: rgb(172, 252, 227);
	width: 272.42px;
	aspect-ratio: 1/1;
	border-radius: 50%;
	top: auto;
	left: auto;
	bottom: 74.3px;
	right: 123.833px;
}

.purple-circle-large {
	width: 272.42px;
	aspect-ratio: 1/1;
	border-radius: 50%;
	bottom: auto;
	right: auto;
	top: 111.45px;
	left: -37.15px;
	background-color: rgb(105, 69, 216);
}

.purple-square {
	background-color: rgb(105, 69, 216);
	border-radius: 4px;
	width: 12.38px;
	aspect-ratio: 1/1;
	margin-bottom: 86.67px;
	margin-right: 74.3px;
	top: auto;
	bottom: 0%;
	left: auto;
	right: 0%;
}

.mint-square {
	background-color: rgb(172, 252, 227);
	width: 12.38px;
	aspect-ratio: 1/1;
	top: 49.53px;
	bottom: auto;
	left: 49.53px;
	right: auto;
}

.orange-square {
	background-color: rgb(240, 105, 67);
	border-radius: 4px;
	width: 12.38px;
	aspect-ratio: 1/1;
	margin-top: 24.77px;
	margin-right: 123.83px;
	top: 0%;
	bottom: 0%;
	left: 391.68px;
	right: auto;
}

.orange-square.alte-orange-square {
	margin-bottom: 24.77px;
	margin-right: 198.12px;
	top: auto;
	bottom: 0%;
	left: auto;
	right: 0%;
}
